<template>
  <div class="roomChoseTime">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>名称：{{ room.name }}</span>
      </div>
      <h1></h1>
      <p>简述：{{ room.description }}</p>
      <p>开放时间: {{ room.startTime }} - {{ room.endTime }}</p>
      <p>状态：{{ room.status }}</p>
    </el-card>
    <el-card>
      <el-radio v-model="day" label="today">今天</el-radio>
      <el-radio v-model="day" label="tomorrow">明天</el-radio>
      <br />
      <el-time-select
        placeholder="起始时间"
        v-model="startTime"
        :picker-options="{
          start: '08:30',
          step: '00:15',
          end: '18:30'
        }"
      ></el-time-select>
      <el-time-select
        placeholder="结束时间"
        v-model="endTime"
        :picker-options="{
          start: '08:30',
          step: '00:15',
          end: '18:30',
          minTime: startTime
        }"
      ></el-time-select>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "RoomChoseTime",
  props: ["id", "postMessage"],
  data() {
    return {
      startTime: "",
      endTime: "",
      day: "today",
      room: {},
      isLoading: true
    };
  },
  created() {
    function formatTime(stamp){
      var date = new Date(stamp);
      let year = date.getFullYear();
      let month = date.getMonth();
      let day = date.getDate();
      let hour = date.getHours();
      let minute = date.getMinutes();
      if(minute == 0){
        minute = '00'
      }
      return year + '-' + month + '-' + day + ' ' + hour + ':' + minute;
    }
    //load seats
    let config = {
      headers: {
        Authorization: this.$cookies.get("token")
      },
      emulateJSON: true
    };

    let url = "http://rap2.taobao.org:38080/app/mock/246761";

    this.$http.get(url + "/room/" + this.id, config).then(res => {
      this.room = res.body.body;
      let status = this.room.status;
      let now = new Date();
      if (status != 0) {
        this.room.status = "Disabled";
      } else {
        if (now.getUTCMilliseconds() < this.room.endTime) {
          this.room.status = "Available";
        } else {
          this.room.status = "Closed";
        }
      }
      this.room.startTime = formatTime(this.room.startTime);
      this.room.endTime = formatTime(this.room.endTime);
      this.isLoading = false;
    });
  }
};
</script>

<style>
.roomChoseTime .el-radio {
  margin-bottom: 20px;
}

.roomChoseTime .el-date-editor {
  margin-right: 10px;
  margin-bottom: 10px;
}
.roomChoseTime .box-card {
    margin-bottom: 20px;
}
</style>