<template>
  <div>
    <div class="room">
      <el-steps :active="active" finish-status="success">
        <el-step title="选择时间"></el-step>
        <el-step title="选择位置"></el-step>
        <el-step title="完成"></el-step>
      </el-steps>
      <keep-alive include="RoomChoseTime">
        <component :is="tab" ref="child" :id="id" :postMessage="postMessage"></component>
      </keep-alive>

      <div class="cls" />
      <el-button v-if="active > 0 && active < 2" style="margin-top: 12px;" @click="up">上一步</el-button>
      <el-button
        style="margin-top: 12px;float: right;"
        @click="next"
      >{{ nextButtonNameList[active] }}</el-button>
      <div class="cls" />
    </div>
  </div>
</template>


<script>
import RoomChoseTime from "@/views/room/ChoseTime.vue";
import RoomChoseSeat from "@/views/room/ChoseSeat.vue";
import RoomWaitCallback from "@/views/room/WaitCallback.vue";

export default {
  name: "Room",
  components: {
    RoomChoseTime,
    RoomChoseSeat,
    RoomWaitCallback
  },
  data() {
    return {
      id: this.$route.params.id,
      active: 0,
      nextButtonNameList: ["下一步", "确定", "返回"],
      tabList: ["RoomChoseTime", "RoomChoseSeat", "RoomWaitCallback"],
      tab: "RoomChoseTime",
      postMessage: {}
    };
  },
  methods: {
    up() {
      this.active--;
      this.tab = this.tabList[this.active];
    },
    next() {
      if (this.active === 0) {
        this.postMessage["day"] = this.$refs.child.day;
        this.postMessage["startTime"] = this.$refs.child.startTime;
        this.postMessage["endTime"] = this.$refs.child.endTime;

        console.log(this.postMessage);
        this.$message("选择时间完成");
      } else if (this.active === 1) {
        this.postMessage["chosedSeat"] = this.$refs.child.chosedSeat;
        console.log(this.postMessage);

        if (this.postMessage["chosedSeat"] == -1) {
          this.$message("你都没选，点个鸡儿");
          this.active--;
        } else {
          this.$message("选择座位完成");
        }
      } else if (this.active === 2) {
        this.$router.back();
      }
      this.active++;
      this.tab = this.tabList[this.active];
      // //async the id
      // this.$refs.child.id = this.id;
      // this.$refs.child.postMessage = this.postMessage;
    }
  },
  watch: {}
};
</script>

<style>
.el-steps {
  margin-bottom: 20px;
}

.room {
  padding-right: 25px;
  padding-left: 25px;
}
</style>