<template>
  <div class="login">
    <el-form ref="form" :model="form" label-width="50px">
      <el-form-item label="账号">
        <el-input v-model="form.username" placeholder="请输入内容"></el-input>
      </el-form-item>
      <br />
      <el-form-item label="密码">
        <el-input v-model="form.password" placeholder="请输入密码" show-password></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">登录</el-button>
        <!-- <el-button>取消</el-button> -->
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Login",
  created(){
      if (this.$cookies.get("token") != null) {
        this.$router.push("/home");
      }
  },
  data() {
    return {
      form: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    goBack() {
      console.log("go back");
    },
    onSubmit() {
      let url = "http://localhost:8080/api";
      let config = {
        headers: {
          'Content-Type': 'application/json',
          "Access-Control-Allow-Origin": "*"
        }
      };
      this.$http
        .post(
          url + "/user/login",
          {
            username: this.form.username,
            password: this.form.password
          },
          config
        )
        .then(res => {
          if (res.body.code === 200) {
            let expire =  new Date(res.body.body.expire);
            this.$cookies.config(expire.toUTCString());
            this.$cookies.set("token", res.body.body.token);
            this.$cookies.set("admin", res.body.body.admin);
            this.$router.push("/Home");
            this.$message("登录成功");
          } else {
            this.$message(res.body.body);
          }
          console.log(res.body);
        });
    }
  }
};
</script>

<style scoped>
.login button {
  width: 100%;
}
.login input {
	margin-bottom: 10px;
}
</style>